<nav aria-label="breadcrumb">
  <ol >

  </ol>
  <div *ngIf="isDisplay" [ngClass] = ""></div>
  <button (click)="deleteHello()">Delete</button>

  <div>
    <h2>Thông tin đăng ký:</h2>
    <p>Tài khoản: {{userInfo.username}}</p>
    <p>Mật khẩu: {{userInfo.password}}</p>
    </div>
  <label>
    Username: <input name="username" [(ngModel)]="userInfo.username">
  </label>
  <label>
    Password: <input name="password" [(ngModel)]="userInfo.password">
  </label>
  <button (click)="register()">Đăng ký</button>
  <h3>Danh sách công việc</h3>
  <ul>
    <li *ngFor="let item of todoList; let i = index;">{{i + 1}}.{{item.text}}</li>
  </ul>
</nav>
